

.px-3.comments-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.p-1.me-1.modifica {
    cursor: pointer;
    color: green;
    width: 20px;
    height: 20px;
}

.p-1.cancella {
    cursor: pointer;
    color: red;
    width: 20px;
    height: 20px;
}

#loader {
    color: rgb(62, 119, 5);
    font-weight: bold;

}